Adam
Counter
Dense
GridSearchCV
OneHotEncoder
PCA
RandomForestClassifier
SMOTE
Sequential
StandardScaler
accuracy_score
classification_report
collections
confusion_matrix
f1_score
imblearn
kagglehub
keras
load_model
matplotlib
methods
numpy
optimizers
os
pandas
pyplot
random
roc_curve
seaborn
sklearn
tensorflow
to_categorical
torch
train_test_split
warnings